body {
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    margin: 0;
}

.common {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    background-color: #5C754F;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    position: top;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
}

.link-home {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 500;
}

.link-home:hover {
    color: #1e231b;
}

.main {
    background-color: #ffffff;
    color: #5C754F;
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding: 10px;
}

.tableau {
    background-color: #ffffff;
    color: #5C754F;
    display: flex;
    justify-content: space-between;
    height: 500px;
    padding: 10px;
}

.youtube {
    background-color: #f8f9fa;
    color: #5C754F;
    display: flex;
    justify-content: center;
    height: 400px;
    padding: 10px;
}

.footer {
    background-color: #5C754F;
    color: #ffffff;
    font-size: 13px;
    padding: 10px;
    height: 50px;
}

.section {
    width: 48%; /* Adjust as needed */
    padding: 10px;
  }

.curved-box {
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    width: 300px; 
    height: 300px;
    background-color: #f8f9fa;
    padding: 20px;
}

.curved-box img {
    display: block;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 50px;
}

.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline-text {
    text-align: left;
    display: inline;
    align-items: center;
    justify-content: center;
}
 
.left-justified-list {
    text-align: left;
}

.text-sm {
    font-size: 19px;
    font-style: italic;
}

.text-lg {
    color: #ffffff;
    text-decoration: none;
    font-size: 34px;
    font-weight: 700;
}

.text-lg:hover {
    color: #1e231b;
}

.text-title {
    font-size: 34px;
    font-weight: 700;
}
.li-spacing {
    margin-bottom: 10px;
}

.container-tableau {
    display: flex;
    justify-content: center;
}